/* nav */

.logo{
  object-fit: cover;
  height: 30px;
  width: 30px;
  animation: imgLeft 1s ease forwards;
  filter: drop-shadow(2px 2px white);
}
.navbarname{
  text-decoration: none;
  color: white;
}

.me-auto{
  margin: 0 auto;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  gap: 20px;
  color: #fff;
  animation: imgLeft 1s ease forwards;
  animation-delay: .7s;
}

@media (max-width: 997px) {
  .me-auto {
    align-items: end;
    gap: 10px;
    margin-top: 10px;
  }
}


/* intro */

#intro{
  height: 73vh;
  margin: 0  auto;
  overflow: hidden;
  position: relative;
}

.bg{
  position: absolute;
  object-fit: cover;
  height: 18rem;
  top: 5rem;
  right: 0;
  overflow: hidden;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;
}

@media (max-width: 997px) {
  .bg {
    height: 8rem;
    top: 17rem;
    right: 0;
  }
}


.introcontent{
  height: 80vh;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons  {
  width: 30px; 
  height: auto;
  margin-right: 10px; 
  border-radius: 100%;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;
}



.hello{
  font-size: 1.75rem;
  font-weight: 100;
  color: white;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.introname{
  color: yellow;
  filter: drop-shadow(3px 3px rgb(90, 64, 64));
  animation: slideRight 1s ease forwards;
  animation-delay: .7s;
}

.introtext{
  color: white;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;
}
.btn{
  width: 10rem;
  animation: slideRight 1s ease forwards;
  animation-delay: .7s;
}

.btn a{
  padding: 10px 0;
  color: black;
  text-decoration: none;
}


/* skills */

#skills {
  text-align: center; 
}

.skilltitle {
  display: block;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: 500;
  color: white;
  animation: slideBottom 1s ease forwards;
}

.skillpara {
  text-align: left;
  max-width: 1000px; 
  margin: 0 auto 30px; 
  padding: 10px;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center; 
  padding: 25px;
}

.image-container img{
  background: white;
 height: 70px;
 width: 70px;
  margin: 20px 5px; 
  gap: 10px;
  border-radius: 50%;
}

.image-container img:hover{
 transform: scale(1.3);
 }


 /* project */

 
#project {
  text-align: center; 
}

.projecttitle {
  display: block;
  margin-bottom: 15px;
  margin-top: 130px;
  font-size: 50px;
  font-family: 700;
  color: white;
}

.projectpara {
  text-align: center; 
  max-width: 1000px; 
  margin: 0 auto 25px; 
  padding: 20px;
  color: white;
  
}
.cardTitle{
  font-size: 10px;
}

.cardDescription{
  font-size: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.d-grid a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.d-grid {
  justify-content: center;
  align-content: center;
}

.cards{
  width: 15rem;
  margin-bottom: 20px;
}


/* keyframes */

@keyframes slideRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}
/* img */
@keyframes slideBottom {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}



@keyframes slideLeft {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}
@keyframes imgLeft {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}